<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465874014219-29j1s6al607dbos6hib0atosunscfrb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465874014219-29j1s6al607dbos6hib0atosunscfrb8</string>
	<key>API_KEY</key>
	<string>AIzaSyCsoT3C5C8un52mlomDKEyoQh95OINmNJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>465874014219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PremiumApps.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-1994</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-1994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465874014219:ios:1f9de2861a592999</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-1994.firebaseio.com</string>
</dict>
</plist>